.menu {
    text-align: center;
    margin-top: 20px;
}

.menu a {
    font-variant: small-caps;
    color: blue;
    text-decoration: none;
    margin: 0 10px;
}

.menu a:visited {
    color: green;
}

.menu a:hover {
    color: red;
    text-decoration: underline;
}
p {
    text-align: center;
}